.row {
  width: 80%;
  margin: 10% auto;
  display: table;
}

.col {
  display: table-cell;
  float: left;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

@media only screen and (max-width: 900px) {
  .left {
    width: 100%;
  }

  .right {
    width: 100%;
  }
  .col {
    display: inline-block;
  }
}
