.row {
  width: 80%;
  height: 100%;
  margin: 10% auto;
  background-color: red;
}

.col {
  float: left;
}

.left {
  width: 25%;
  /* background-color: red; */
  padding-bottom: 20px;
}

.right {
  width: 75%;
}
