.row {
  width: 80%;
  margin: 10% auto;
  /* height: 400px; */
  /* overflow: hidden; */
  /* background-color: red; */
}

.col {
  float: left;
}

.left {
  width: 25%;
  /* padding-bottom: 20px; */
}

.right {
  width: 75%;
}

@media only screen and (max-width: 605px) {
  .left {
    width: 100%;
  }

  .right {
    width: 100%;
  }
  .col {
    display: inline-block;
  }
}
