.time-card {
  width: 25%;
  margin: 2% 3%;
  color: #fff;
  float: left;
  border-radius: 5%;
  background-color: hsl(43, 84%, 65%);
}

.img-container {
  max-height: 50px;
  overflow: hidden;
}

.bottom-time-card {
  border-radius: 5%;
  padding: 3px;
  z-index: 999;
  background-color: hsl(235, 46%, 20%);
}

.bottom-time-card:hover {
  cursor: pointer;
  background-color: hsl(235, 45%, 61%);
}

.background-icon {
  width: 60%;
  height: 30px;
  margin-top: -3%;
  padding-right: 50%;
  position: relative;
  left: 50%;
  opacity: 0.8;
  height: 60px;
}

.time-card-title {
  margin-left: 5%;
}

.align-right {
  text-align: right;
}

.time-card-current {
  margin-left: 5%;
  margin-bottom: 0.3rem;
  font-weight: 300;
}

.time-card-previous {
  margin: 0 5% 10%;
  font-size: 0.7rem;
  color: hsl(235, 45%, 61%);
}

.bottom-card {
  z-index: 999;
}

.alignright {
  float: right;
  margin-right: 5%;
}

@media only screen and (max-width: 900px) {
  .time-card {
    width: 60%;
    margin: 5% auto;
    float: none;
  }

  /* .background-icon {
    width: 80%;
    height: 45px;
    position: relative;
    left: 55%;
  } */
  .time-card-title {
    margin-bottom: 0;
  }

  .time-card-current {
    font-size: 1.8rem;
    margin-top: 1%;
    margin-bottom: 3%;
    display: inline-block;
  }

  .time-card-previous {
    float: right;
    font-size: 0.8rem;
    margin-top: 5%;
  }
}
